# ignore the input, build and log files
input/*.mkv
logfiles/*
build/*
tables/*
input/LocationOutputs/*

# Useless notebook
./notebooks/Untitled.ipynb
.ipynb_checkpoints
*/.ipynb_checkpoints
*/*/.ipynb_checkpoints

# Ignore R plots
Rplots.pdf
output/distance_travelled/*
output/path_travelled/*
output/mastersheet.csv

# Ignore Location Output data
build/LocationOutputs/*

